# ─── Authentification ───
USERNAME=admin
PASSWORD=changeme

## Not mandatory
SECRET_KEY=      # Sign the JWT authentication tokens (auto-geenrate if empty)
TOKEN_EXPIRY_HOURS=72
##


# ─── Encryption ───
# Used to encrypt/decrypt stored data (your notes).
# How to generate a key : python3 -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
# or go to https://8gwifi.org/fernet.jsp
# ⚠️ KEEP THIS KEY ! Without, your data are LOST.
# If absent, the notes are stored in plain text.
# Warning: If you change this key after writing notes, you will no longer be able to decrypt them.
ENCRYPTION_KEY=YOURKEY

# ─── Trash ───
TRASH_RETENTION_DAYS=30

# ─── Uploads ───
MAX_UPLOAD_SIZE=10485760             # 10 MB
